<div>
    <app-titlecase></app-titlecase>
    <hr>
    <app-favorite></app-favorite> 
    <hr>
    <app-custompipes></app-custompipes>
    <hr>
    <app-pipes></app-pipes>
    <hr>
    <app-twowaybinding></app-twowaybinding>
    <hr>
    <app-templatevariables></app-templatevariables>
    <hr>
    <app-eventfiltering></app-eventfiltering>
    <hr>
    <app-eventbinding></app-eventbinding>
    <hr>
    <app-stylebinding></app-stylebinding>
    <hr>
    <app-classbinding></app-classbinding>
    <hr>
    <app-addingbootstrap></app-addingbootstrap>
    <hr>
    <app-attributebinding></app-attributebinding>
    <hr>
    <app-propertybinding></app-propertybinding>
    <hr>
    <app-courses></app-courses>
    <hr>
    <h2>Full App </h2>
</div>